---
title: Files
layout: default
---

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Type</th>
			<th>Description</th>
			<th>URLs like</th>
			<th>Size</th>
		</tr>
	</thead>
	<tbody>
{% for file in site.data.files %}
		<tr>
			<td>{{ file.category }}</td>
			<td>{{ file.description }}</td>
			<td><a href="https://files.freeloader.wtf{{file.prefix }}-Stop_Freeloading_you_friggin_mooch_xxx.smut">{{ file.prefix }}*</a></td>
			<td>{% if file.size < 1024 %}{{ file.size }}{% elsif file.size < 1048576 %}{{ file.size|divided_by:1024 }}KB{% else %}{{ file.size|divided_by:1048576 }}MB{% endif %}</td>
		</tr>
{% endfor %}
	</tbody>
</table>
