
<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"{% if page.url == '/' or page.url == '/index.html'%} class="active"{% endif %}><a href="/index.html">Home</a></li>
      <!--<li role="presentation"{% if page.url == '/files.html'%} class="active"{% endif %}><a href="/files.html">Files</a></li>-->
      <li role="presentation"{% if page.url == '/support/' or page.url == '/support/index.html' %} class="active"{% endif %}><a href="/support/index.html">FAQ</a></li>
    </ul>
  </nav>
  <h3 class="text-muted"><a href="/index.html"><img src="/images/logo/logo.svg" alt="Freeloader.WTF logo" /></a></h3>
</div>
